.challenges-fluid,
.content {
  height: inherit;
}

.block--full {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Modern No. 20";
}

.challenges--block,
.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.block-0 {
  width: inherit;

  @media (min-width: 0px) and (max-width: 1199px) {
    padding-top: 130px;
  }

  @media (min-width: 1200px) and (max-width: 1599px) {
    padding-top: 150px;
  }

  @media (min-width: 1600px) and (max-width: 1749px) {
    padding-top: 165px;
  }

  @media (min-width: 1750px) {
    padding-top: 145px;
  }
}

.block-0 .challenegs_content {
  text-align: center;
  background: url('/assets/wargames/Title.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  
}

.block-0 .challenegs_content .challenges-title {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #d2ab5f;

  span {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 1750px) {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 13px;
    padding-bottom: 36px;
    font-size: 19px;
  }
}


.challenge-D {
  text-align: center;
  background: url('/assets/wargames/Challenge-Description-BG.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: bold;
  margin: 0 auto;
  width: 80%;
  color: #d2ab5f;
  font-size: 14px;
  font-weight: 600;

  .row {
    width: inherit;
    margin: 0 auto;
  }

  .level {
    border-right: 2px solid;
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #0c1725, rgb(160 157 95), #050c15) 1 100%;
  }

  

  @media (min-width: 1750px) {
    padding-top: 33px;
    padding-bottom: 53px;
    font-size: 17px;
  }
}


.challenge_desc {
  text-align: center;
  background-image: url('/assets/wargames/Challenge-Description.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 70%;
  margin: 0 auto;
  background-position: center;
  
  .ch-desc {
    line-height: 16px;
    font-size: 14px;
  }

  div {
    font-family: "Modern No. 20";
    font-weight: 600;
    padding: 55px 45px 15px 30px;
    height: 215px;

    @media (min-width: 1750px) {
      padding: 55px 60px 15px 50px;
      height: 225px;
    }
  }

  .linkDiv {
    position: relative;
    bottom: 30px;
    font-size: 16px;

    a:hover {
      cursor: pointer;
    }
  }

}

.hint {
  text-align: center;
  background-image: url('/assets/wargames/Hint.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  width: 10%;
  padding-top: 10px;
  padding-bottom: 14px;
  top: 61%;


  @media (min-width: 1500px) and (max-width: 1600px) {
    top: 61%;
  }

  @media (min-width: 1750px) {
    width: 12%;
    padding-top: 15px;
    padding-bottom: 23px;
  }

  @media screen and (min-height: 800px) and (max-height: 899px) {
    @media (min-width: 1750px) {
      top: 62%;
    }
  }

  @media screen and (min-height: 900px) and (max-height: 1000px) {
    @media (min-width: 1750px) {
      top: 61%;
    }
  }

  @media screen and (min-height: 1001px) and (max-height: 1079px) {
    @media (min-width: 1750px) {
      top: 61%;
    }
  }

  @media screen and (min-height: 1080px) {
    @media (min-width: 1750px) {
      top: 60%;
    }
  }



  .hint--btn {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #d2ab5f;
    font-weight: bold;
    text-decoration: none;
  }
}

.challenge_ans {
  text-align: center;
  background-image: url('/assets/wargames/Ans-Challenge-BG.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 80%;
  margin: 0 auto;

  position: relative;
  bottom: 15px;

  .main-ans {
    padding-bottom: 20px;
    padding-top: 25px;


    
  }


  textarea {
    width: 90%;
    height: 100%;
    background: transparent;
    
    border: none;
    outline: none;
    resize: unset;
    font-size: 19px;
    font-weight: 500;
    color: #d2ab5f;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    padding-top: 7px;
    margin-right: 15px;

    @media (min-width: 1750px) {
      font-size: 21px;
    }
  }

}

.submit-ans, .submit-ans-solved {
  text-align: center;
  background-image: url('/assets/wargames/Long-Btn-1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 67%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
  bottom: 16px;

  @media (min-width: 1750px) {
    width: 70%;
    padding-top: 16px;
    padding-bottom: 21px;
  }

  .action {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #d2ab5f;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;

  }
}


textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(245 240 240 / 10%);
  background-color: #a27f1b;

}


.form-invalid {
  opacity: 50%;
}