.otp-container {
  font-family: "Modern No. 20";
  width: 500px;
  height: 250px;
  padding-top: 30px;
  background: url('https://ihawk.s3.us-east-2.amazonaws.com/Challenge-BG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .otp-header {
    display: block;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    padding-top: 30px;

    span {
      font-family: "Modern No. 20";
      letter-spacing: 1.5px;
      text-align: center;
    }
  }

  form {
    width: 100%;
    margin: 0 auto;

    .form {
      margin: 0 auto;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      width: 80%;

      .input {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;

        input {
          width: 100%;
          margin: 0 auto;
          background-color: transparent;
          border: 1px solid black;
          outline: none;
          height: 35px;
          border-radius: 5px;
          padding-left: 5px;
        }


      }

    }
  }



}

.sub-btn {
  background-color: transparent;

  background-image: url('https://ihawk.s3.us-east-2.amazonaws.com/Long-Btn-1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 0;
  outline: none;
  background-position: center;
  width: 250px;

  height: 50px;
  margin: 0 auto;
  color: #d2ab5f;


  @media (min-width: 1850px) {
    text-align: center;
    background: url('/assets/wargames/Long-Btn-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 18px;
    font-weight: bold;
    margin: 0 auto;
    /* width: 56%; */
    color: #d2ab5f;
    font-weight: 600;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 30px;
  }

}

.otp-actions {
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  background: url('https://ihawk.s3.us-east-2.amazonaws.com/Long-Btn-1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: row;
  padding-top: 13px;
  padding-bottom: 15px;
  font-weight: bold;
  margin: 0 auto;
  width: 65%;
  color: #d2ab5f;
  
  font-weight: 600;
  justify-content: center;
  font-size: 13px;
  margin-bottom: 0px;


  .otp-txt {
    word-spacing: 4px;
  }


  .name-container {
    input {
      width: 60%;
      height: 30px;
    }
  }


  @media (min-width: 1850px) {
    text-align: center;
    background: url('https://ihawk.s3.us-east-2.amazonaws.com/Long-Btn-1.png');
    background-repeat: no-repeat;
    background-size: 100% 99%;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 27px;
    font-weight: bold;
    margin: 0 auto;
    width: 45%;
    color: #d2ab5f;
    font-weight: 600;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.form-invalid {
  opacity: 50%;
}
.verify {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  color: #d2ab5f;
  font-size: 18px;
}
