<div class="container-fluid td-default td-outer">
  <main class="main">
    <section id="td-cover-block-0"
      class="row td-cover-block td-cover-block--height-full js-td-cover td-overlay td-overlay--dark -bg-orange">

      <router-outlet></router-outlet>

      <div class="coming_soon_social">
        <div style="width:33%;" class="organized"> <span>Organized By <a href="https://asc.com.eg/"
              target="_blank"><strong>Arab
                Security
                Consultants</strong></a></span></div>
        <div class="social" style="width:15%;">

          <a href="https://www.instagram.com/ascyberwargames/" target="_blank">
            <img src="/assets/wargames/social/Inst-icon.png" class="insta" />
          </a>
          <a href="https://www.facebook.com/ascyberwargames" target="_blank">
            <img src="/assets/wargames/social/Face-icon.png" class="face" />
          </a>
          <a href="https://twitter.com/ascyberwargames" target="_blank">
            <img src="/assets/wargames/social/Twitter-icon.png" class="twitter" />
          </a>

          <a href="https://www.youtube.com/channel/UCtlIwxf_tbqHzP0ttLttytg" target="_blank">
            <img src="/assets/wargames/social/Youtube-icon.png" class="youtube" />
          </a>
        </div>
        <div style="width:33%;" class="sponsored"> <span>Sponsored By <a href="https://isec.com.eg/"
              target="_blank"><strong>iSec</strong></a></span></div>
      </div>
    </section>
  </main>
</div>