<div class="container-login">
  <app-registration-main></app-registration-main>

  <div class="login">
    <form [formGroup]="loginForm">
      <div>
        <input [ngClass]="
            (email.invalid &&
            email.touched &&
            email.dirty) ||
            (email.errors?.required && email.touched)
              ? 'requird_input'
              : ''
          " formControlName="email" placeholder="Email" type="email" class="form-control" />
      </div>
      <div>
        <input [ngClass]="
        (password_login.invalid &&
        password_login.touched &&
        password_login.dirty) ||
        (password_login.errors?.required && password_login.touched)
              ? 'requird_input'
              : ''
          " formControlName="password" placeholder="Password" minLength="10" maxLength="25" type="password"
          class="form-control" />
      </div>
      <div>
        <div>
          <div class="submit-ans" [ngClass]="loginForm.invalid || (loginForm.valid && loged)  ? 'form-invalid': '' ">
            <div class="content-ans">
              <input type="submit" class="action" value="LOGIN" (click)="submitLoginForm()"
                [disabled]="loginForm.invalid || (loginForm.valid && loged)" />
            </div>
          </div>
          <div class="submit-ans1">
            <div class="content-ans" (click)="GoToForgetPassword()">
              <input type="button" value="Forget Password?" [disabled]="loged" class="forget-input">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>